.gridBlock {
    display: flex;
    border: thin solid black;
}

.container {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
}

button {
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
